/* assignments consist of objectives; this is the constructor for an individual objective. each objective has a description which tells more about the objective than the title, each objective has a boolean to indicate completion, each objective has a title, and each objective has prerequisites - meaning that before this objective can be shown other objectives have to be completed first */
function AssignmentObjective(title, description, prerequisites) {
	this.description = description;
	this.isCompleted = false;
	this.title = title;
	if (!prerequisites) {
			prerequisites = [];
	}
	this.prerequisites = prerequisites.map(function(obj) {
		return obj.title || obj;
	});
}

function addObjectives(assignmentID, objectives) {
	if (!window.assignments) return;
	var assignment = window.assignments[assignmentID];
	if (!assignment) return;
	assignment.goals = objectives;
}

(function() {
	var welcome = new AssignmentObjective("Welcome the Player", "Welcome the player to the game.", []);
	var greetByName = new AssignmentObjective("Greet the Player", "Greet the player by name.", [welcome]);
	var storeNumber = new AssignmentObjective("Store Secret Number", "Store a random secret number from 1-10.", []);
	var getAGuess = new AssignmentObjective("Get a Guess", "Have the player guess the secret number.", [greetByName]);
	var sayIfCorrect = new AssignmentObjective("Say if Correct", "Tell the player if they guessed correctly.", [getAGuess, storeNumber]);
	var sayIfTooHighOrLow = new AssignmentObjective("Say if Too High/Low", "Tell the player if they guessed too high or too low.", [getAGuess, storeNumber]);
	var repeat = new AssignmentObjective("Repeat", "Make the player guess until they guess the secret number.", [getAGuess, storeNumber]);

	var objectives = [welcome, greetByName, variables, storeNumber, getAGuess, sayIfCorrect, sayIfTooHighOrLow, repeat];
	
	addObjectives("guess1Lab", objectives);
})();

