window.assignments = {
	"none": "None",
	"guess1Lab": "Guessing Game Part 1 (In Lab Activity 3)",
	"guess2HW": "Guessing Game Part 2 (Homework 3)",
	"guess3Lab": "Guessing Game Part 3 (In Lab Activity 4)",
	"project": "SNAP Project (Project Deliverable 1)",
	"test": "Testing",
	"view": "Viewing",
}

window.requireAssignment = true;

window.createLogger = function(assignmentID) {
    if (assignmentID == "view") {
        return new ConsoleLogger(50);
    } else {
        return new DBLogger(3000);
    }
}

window.easyReload = function(assignmentID) {
    return (assignmentID == "test" || assignmentID == "view");
}