window.assignments.polygonMakerLab.hints = true;
window.assignments.squiralHW.hints = true;
window.assignments.squiralHW.promptHints = true;
window.assignments.guess1Lab.hints = true;
window.assignments.guess1Lab.promptHints = true;
window.assignments.guess2HW.hints = true;
window.assignments.guess2HW.promptHints = true;

function getHintURL() {
    return 'http://' + location.hostname + ':8080/HintServer/hints';
}

function getHintProvider() {
    var url = getHintURL();
    // After X consecutive hint dialogs, the HintDisplay can show a warning
    var hintWarning = 6;
    // Options: HintDisplay, DebugDisplay, SnapDisplay
    var displays = [new HighlightDisplay(hintWarning)];
    var reloadCode = false; // automatically reloads last code
    return new HintProvider(url, displays, reloadCode);
}