
window.assignments.polygonMakerLab.hints = true;
window.assignments.squiralHW.hints = true;
window.assignments.squiralHW.promptHints = true;
window.assignments.guess1Lab.hints = true;
window.assignments.guess1Lab.promptHints = true;
window.assignments.guess2HW.hints = true;
window.assignments.guess2HW.promptHints = true;

function getHintProvider() {
    var url = 'http://' + location.hostname + ':8080/HintServer/hints';
    // Options: HintDisplay, DebugDisplay, SnapDisplay
    var displays = [new SnapDisplay()];
    var reloadCode = false; // automatically reloads last code
    return new HintProvider(url, displays, reloadCode);
}